<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zalo.servicetraining">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <dist:module dist:instant="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:theme="@style/SplashTheme"
            android:label="@string/menu"
            android:name="com.zalo.servicetraining.ui.MainActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/service"
            android:name=".fundamental.servicedemo.ServiceDemoActivity" />

        <activity
            android:label="@string/content_provider"
            android:name=".fundamental.index.ContentProviderDemoActivity" />
        <activity
            android:label="@string/notes"
            android:name=".fundamental.noteapp.DemoNoteActivity" />
        <activity
            android:label="@string/notes"
            android:name=".fundamental.noteapp.NoteDetailActivity" />
        <activity
            android:label="@string/network"
            android:name=".fundamental.index.NetworkMenuActivity" />
        <activity
            android:label="@string/weather"
            android:name=".fundamental.weather.DemoWeatherApp" />
        <activity
            android:label="@string/users"
            android:name=".fundamental.userlist.UserDataListActivity" />
        <activity
            android:label="@string/users"
            android:name=".fundamental.userlist.UserProfileActivity" />
        <activity
            android:label="@string/multithreading"
            android:name=".fundamental.index.MultithreadingActivity" />
        <activity android:name=".fundamental.pipe.PipeExampleActivity" />
        <activity
            android:label="@string/downloader"
            android:launchMode="singleTop"
            android:name=".downloader.ui.DownloaderActivity" />
        <activity android:name=".fundamental.FundamentalActivity"
            android:label="@string/fundamental"/>

        <service
            android:label="@string/time_track_service"
            android:name=".fundamental.servicedemo.service.TimeTrackService" />
        <service
            android:label="@string/downloader_service"
            android:name=".downloader.service.DownloaderService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zalo.servicetraining.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>