<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zalo.servicetraining">
    <uses-permission android:name="android.permission.INTERNET"/>
    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:theme="@style/SplashTheme"
            android:label="@string/menu"
            android:name="com.zalo.servicetraining.ui.MainActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/service"
            android:name=".ui.ServiceDemoActivity" />

        <activity
            android:label="@string/content_provider"
            android:name=".ui.contentprovider.ContentProviderDemoActivity" />
        <activity
            android:label="@string/notes"
            android:name=".ui.contentprovider.DemoNoteApp" />
        <activity
            android:label="@string/notes"
            android:name=".ui.contentprovider.NoteDetailActivity" />
        <activity
            android:label="@string/network"
            android:name=".ui.network.NetworkMenuActivity" />
        <activity
            android:label="@string/weather"
            android:name=".ui.network.DemoWeatherApp" />
        <activity
            android:label="@string/users"
            android:name=".ui.userdata.UserDataListActivity" />
        <activity
            android:label="@string/users"
            android:name=".ui.userdata.UserProfileActivity" />
        <activity android:name=".ui.multithreading.MultithreadingActivity" />
        <activity android:name=".ui.multithreading.PipeExampleActivity" />

        <service android:name=".service.TimeTrackService" />
    </application>

</manifest>