<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zalo.trainingmenu">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <dist:module dist:instant="true" />

    <application
        android:name="com.zalo.trainingmenu.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:theme="@style/SplashTheme"
            android:label="@string/menu"
            android:name="com.zalo.trainingmenu.MenuActivity">
            <intent-filter android:label="@string/menu">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/service"
            android:name="com.zalo.trainingmenu.fundamental.servicedemo.ServiceDemoActivity"
            />
        <activity android:name=".vrsample.VRListActivity" android:theme="@style/LightAppTheme"/>

        <activity android:name=".vrsample.VRMenuActivity" />

        <activity
            android:label="@string/content_provider"
            android:name="com.zalo.trainingmenu.fundamental.index.ContentProviderDemoActivity" />

        <activity
            android:label="@string/notes"
            android:name="com.zalo.trainingmenu.fundamental.noteapp.DemoNoteActivity" />

        <activity
            android:label="@string/notes_detail"
            android:name="com.zalo.trainingmenu.fundamental.noteapp.NoteDetailActivity" />

        <activity
            android:label="@string/network"
            android:name="com.zalo.trainingmenu.fundamental.index.NetworkMenuActivity" />

        <activity
            android:label="@string/weather"
            android:name="com.zalo.trainingmenu.fundamental.weather.DemoWeatherApp" />

        <activity
            android:label="@string/users"
            android:name="com.zalo.trainingmenu.fundamental.userlist.UserDataListActivity" />

        <activity
            android:label="@string/users"
            android:name="com.zalo.trainingmenu.fundamental.userlist.UserProfileActivity" />

        <activity
            android:label="@string/multithreading"
            android:name="com.zalo.trainingmenu.fundamental.index.MultithreadingActivity" />
        <activity android:name="com.zalo.trainingmenu.fundamental.pipe.PipeExampleActivity" />

        <activity
            android:label="@string/downloader"
            android:launchMode="singleTop"
            android:name="com.zalo.trainingmenu.downloader.ui.main.DownloadActivity" />

        <activity android:name="com.zalo.trainingmenu.fundamental.FundamentalActivity"
            android:label="@string/fundamental"/>

        <activity android:name="com.zalo.trainingmenu.downloader.ui.detail.TaskDetailActivity" />

        <activity android:name="com.zalo.trainingmenu.downloader.ui.setting.SettingActivity"
            android:theme="@style/PreferenceAppTheme"/>

        <activity android:name=".fundamental.opengl.SimpleBitmapActivity"
            android:theme="@style/FullScreenTheme"/>

        <activity android:name="com.zalo.trainingmenu.newsfeed3d.photo3d.Photo3DActivity"
            android:theme="@style/FullScreenTheme" />

        <activity android:name=".fundamental.index.OpenGLActivity" />

        <activity android:name="com.zalo.trainingmenu.newsfeed3d.photo3d.ShaderSetActivity"
            android:theme="@style/FullScreenTheme"/>

        <activity android:name=".fundamental.camera.CameraActivity"
            android:theme="@style/CompletelyFullscreenTheme"/>

        <activity android:name=".fundamental.camera.CameraKitActivity" />

        <activity android:name="com.zalo.trainingmenu.newsfeed3d.NewsFeed3DActivity"
            android:theme="@style/LightAppTheme"/>

        <activity android:name=".vrsample.VrSampleActivity"
            android:theme="@style/VRTheme"
            tools:ignore="LockedOrientationActivity" />


        <activity android:name=".fundamental.opengl.airhockey.AirHockeyActivity"
            android:theme="@style/FullScreenTheme"/>
        <activity android:name=".extension.ExtensionActivity" />
        <activity android:name=".extension.IndexListActivity" />
        <activity android:name=".extension.SetLauncherActivity" />

        <service
            android:label="@string/time_track_service"
            android:name="com.zalo.trainingmenu.fundamental.servicedemo.service.TimeTrackService" />
        <service
            android:label="@string/downloader_service"
            android:name="com.zalo.trainingmenu.downloader.service.TaskService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zalo.trainingmenu.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>